*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-bg-color : #060606;
    --light-bg-color : #ffffff;
    
    --red-text-color : #ff412f;
    --unselected-text-color : #bcbcbc;
    --light-text-color : #ffffff;
    --blue-text-color:#4154ff;

    --news-tag-bg-color : #fff941;
    --underline-color:#fff941;

    --card-border:#3240c1;

    --button-blue-background-color : #4154fe;
    --border-transparent-button:#2c2a35;
    --red-button-background: #ff0000;   


    --section-light-color: #d00010;
    --section-dark-color: #0319ea;
    --section-mid-color: #7a0a6c;
}