@mixin container{
    max-width: 1350px;
    margin: 0 auto;
}

@mixin d-flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin d-flex-space-between{
    display: flex;
    justify-content: space-between;
}

@mixin list{
    list-style: none;
    display: flex;
    align-items: center;
}

@mixin blue-button{
    background-color: var(--button-blue-background-color);
    color: var(--light-text-color);
}

@mixin big-button{
    padding: 15px 35px;
    border-radius: 30px;
}

@mixin rounded-img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 50px;
}